<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EtherScan</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")



    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/Content/AdminLTE/fontawesome-free/css/all.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Tempusdominus Bootstrap 4 -->
    <link rel="stylesheet" href="~/Content/AdminLTE/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/Content/AdminLTE/dist/css/adminlte.min.css">
    <!-- overlayScrollbars -->
    <link rel="stylesheet" href="~/Content/AdminLTE/overlayScrollbars/css/OverlayScrollbars.min.css">

    <!-- jQuery -->
    <script src="~/Content/AdminLTE/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/Content/AdminLTE/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- ChartJS -->
    <script src="~/Content/AdminLTE/chart.js/Chart.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/Content/AdminLTE/dist/js/adminlte.min.js"></script>

    <!-- DataTables  & Plugins -->
    <script src="~/Content/AdminLTE/datatables/jquery.dataTables.min.js"></script>
    <script src="~/Content/AdminLTE/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/Content/AdminLTE/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/Content/AdminLTE/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <script src="~/Content/AdminLTE/jszip/jszip.min.js"></script>
    <script src="~/Content/AdminLTE/pdfmake/pdfmake.min.js"></script>
    <script src="~/Content/AdminLTE/pdfmake/vfs_fonts.js"></script>
    <script src="~/Content/AdminLTE/datatables-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/Content/AdminLTE/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
    <script src="~/Content/AdminLTE/datatables-buttons/js/buttons.html5.min.js"></script>
    <script src="~/Content/AdminLTE/datatables-buttons/js/buttons.print.min.js"></script>
    <script src="~/Content/AdminLTE/datatables-buttons/js/buttons.colVis.min.js"></script>

    <!-- DataTables -->
    <link rel="stylesheet" href="~/Content/AdminLTE/datatables-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="~/Content/AdminLTE/datatables-responsive/css/responsive.bootstrap4.min.css">
    <link rel="stylesheet" href="~/Content/AdminLTE/datatables-buttons/css/buttons.bootstrap4.min.css">
</head>
<body>


    @RenderBody()

</body>
</html>
